
Android/LearnMaori/.idea/codeStyles/Project.xml
Android/LearnMaori/.idea/gradle.xml
Android/LearnMaori/.idea/jarRepositories.xml
Android/LearnMaori/.idea/misc.xml
Android/LearnMaori/.idea/runConfigurations.xml
